


	html {
		background-color: #e7e7e7;
		background-image: none;
	}

	#wrapper {
		width: auto;
	}

	header {
		height: auto;
	}

	header a {
		float: none;
		display: block;
		margin: auto;
	}

	header form {
		display: none;
	}

	.slider-wrapper {
		display: none;
	}

	#white {
		padding: 5px;
	}





	/*menu*/

	nav ul {
		display: block;
		position: fixed;
		visibility: hidden;		
		top: 0;
		left: -100%;
		width: 170px;
		transition: .25s;
		box-shadow: 6px 7px 10px rgba(0, 0, 0, .5);
	}

	nav li {
		display: block;
		height: 50px;
		margin-bottom: 0;
		width: 170px;

		
	}

	nav li a {
		height: 50px;
		color: #202020;
		font-size: 18px;
		line-height: 50px;
	}

	
	#toggle {
		display: none;
	}

	.toggle__btn {
		display: block;
		position: relative;
	  	top: 0;
 		left: 10px;
		width: 40px;
  		height: 40px;
  		cursor: pointer;
  		border: 1px solid #202020;
  		z-index: 1;
  		border-radius: 50%;
	}

	.toggle__btn span,
	.toggle__btn span::before,
	.toggle__btn span::after {
		display: block;
		position: absolute;
		top: 50%; margin-top: -1px; 
		left: 50%; margin-left: -15px;
		width: 30px;
		height: 2px;
		background-color: #202020;
	}


	.toggle__btn span::before {
		content: '';
		transform: translateY(-8px);
	}

	.toggle__btn span::after {
		content: '';
		transform: translateY(8px);
	}

    .toggle__btn span::before,
	.toggle__btn span::after {
		transition: .2s;
	}


	#toggle:checked ~ .toggle__btn span {
		height: 0;
	}
	#toggle:checked ~ .toggle__btn span::before {
		transform: rotate(45deg);
	}
	#toggle:checked ~ .toggle__btn span::after {
		transform: rotate(-45deg);
	}

	#toggle:checked ~ ul {
		visibility: visible;
		left: 0;
	}

	#toggle:checked ~ .toggle__btn {
		left: 170px;
		transition: .4s;
	}


	/*end_menu*/



	#gradient {
		height: auto;
	}

	#gradient > div {
		float: none;
		margin: auto;
		width: auto;
		padding: 0 30px;
	}

	#gradient div:last-child {
		padding-bottom: 30px;
	}

	/*#gradient .more {
		margin: auto;
	}*/

	#content > div {
		height: auto;
		float: none;
		margin: auto;
	}

	#content1, 
	#content2, 
	#content3 {
		width: auto;
		padding: 0 30px;
	}

	#content2 img {
		display: none;
	}

	#content3 {
		padding-bottom: 20px;
	}

	#content h2 {
		padding: 50px 0 15px 0;
	}

	.more {
		margin: auto;
	}



	#banners {
		background: #fff;
		height: auto;
		padding-left: 20px;
		padding-bottom: 20px;
	}

	#banners hr {
		margin: 0 0 20px 0;
	}

	#banners a {
		border: 0;
		margin-left: 20px;
	}



	footer {
		text-align: center;
	}

	footer p {
		padding: 10px 0;
	}

	footer img {
		display: block;
		margin: 15px auto;
	}
	
	
